# Cloudflare Workers + Hyperdrive
CF_ACCOUNT=XXXXXXXXXXXXXXXX

# Workers AI API token
# create at dash.cloudflare.com/profile/api-tokens
# permissions: Workers AI Read + Edit
CF_TOKEN=cfut_XXXXXXXXXXXX


# Azure Postgres
PGHOST=climan-db.postgres.database.azure.com
PGUSER=climanadmin
PGPASSWORD=XXXXXX
PGDBNAME=postgres